
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

.navbar-brand{

    font-family: 'Playfair Display', serif;
}

#fb-btn{
    transition: all 0.4s ease;
    text-decoration: none;
    padding: 14px 14px;
    background: linear-gradient(to right, #00e0feb3, #1107feb3);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: rgb(255, 255, 255);

}

#fb-btn:hover{
    transform: translateY(-5px);
}

#insta-btn{
    transition: all 0.4s ease;
    text-decoration: none;
    padding: 14px 14px;
    background: linear-gradient(to right, #fe00b2b3, #ff0037b3);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: rgb(255, 255, 255);

}

#insta-btn:hover{
    transform: translateY(-5px);
}


a{
    text-decoration: none;
    transition: all 0.3s ease;
font-weight: 700;
}

img{
    width: 100%;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 2;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    z-index: -1;
}


.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}



 #main-btn{
    transition: all 0.4s ease;
    text-decoration: none;
    padding: 16px 20px;
    background: linear-gradient(to right, #00e0feb3, #1107feb3);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#main-btn:hover{
    transform: translateY(-5px);
}




.navbar{
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

 

.section-intro{
    margin-bottom: 40px;
}

.section-intro .divider{
    height: 5px;
    width: 70px;
    background: linear-gradient(to right, #00e0feb3, #1107feb3); 
    margin: 16px auto;
}

.gallery-intro{
    margin-bottom: 40px;
}

.gallery-intro .divider{
    height: 5px;
    width: 70px;
    background: linear-gradient(to right, #00e0feb3, #1107feb3); 
    margin: 16px auto;
}

.img-thumbnail{
    width: 300px;
    transition: all 0.4s ease;
}

.img-thumbnail:hover{
    transform: translateY(-8px);
}

#testimonials{
    text-align: center;
}


.tesname{
    color: gold;
    text-align: center;
}
.tespara{
    
    text-align: center;
}
.tesbtn{
    text-align: center;
}

#timing{
    text-align: center;
}
.contact-btn{
    text-align: center;
}

.footer{
    text-align: center;
}